{% extends 'base.html' %}
{% load static %}
{% block title %}Logged Out{% endblock %}

{% block codes %}
<!-- 🏞️ Banner Section -->
<section class="banner-image-login"style="background-image: url({% static 'img/blog/login.jpg' %});">
  <div class="container">				
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content blog-header-content col-lg-12">
        <h1>change Your Account</h1>						
      </div>	
    </div>
  </div>
</section></br>
<!-- 🔸 changed Message Area -->
<section class="logout-content">
  <div class="logout-box">
    <h2>Password changed successfully!</h2>
    <p>Your password has been changed.</p>
    <a href="/">Back to home</a>
  </div>
</section>
{% endblock %}
